ul.ddn {
    margin-left: 15px;
}

img.dashboard {
    border: 2px solid #afafaf;
    width: 500px;
    height: 311px;
    vertical-align: middle;
}

form.request {
    background-color: #c7e7e2;
    padding: 5px 180px 25px 180px;
}

form.request div.form-container {
    width: 100%;
}

form.request div.form-left {
    width: 50%;
    float: left;
}

form.request div.form-right {
    width: 50%;
    float: right;
}

input.text {
    margin-top: 5px;
    margin-right: 50px;
}

input.button {
    float: left;
}